*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(./bg.png);
    display: flex;
    justify-content: center;
}
    
.container{
    background-color: #ffffff70;
    width: 1200px;
}


img{

}
h1{
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;

}
h2{
    margin-bottom: 20px;
    font-size: 30px;

}
p{

    margin-bottom: 20px;

}

.allbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box{
    background-color: #ffffffb1;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.box img{}
.box h3{}
.box p{}

a{
    background-color: #cedf34;
    width: 100px;
    height: 50px;
    
}
ul{
    
    display: flex;
    justify-content: space-evenly;
} 
li{
    
    list-style: none;
    float: left;
    margin-bottom: 20px;
}
li a{
    background-color: #e0b3b3;
    display:block;
    width: 150px;
    height: 50px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    margin: 40px;
}
li a:hover{
    background-color: #64d932;
    }
